html {
  color: white;
  background-color:black
}
head {
  height: 70vh;
}


body {  
  font-family: arial;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 28px;
}

p {
  color: gray;  
  font-size: 20px;
  font-weight:lighter;
}


#gray {
  color: rgb(160, 160, 160);
}

.sloupec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 70vh; /* Nastavte výšku sloupce na výšku obrazovky (viewport height) */
  padding-left: 120px; /* Přidáme 50px odsazení zleva */

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00000;
  font-family: helvetica;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

