html {
  color: white;
  background-color:black
}

head {
  height: 70vh;
}

body {  
  font-family: arial;
  height: 1OOvh;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 28px;
}

p {
  color: gray;  
  font-size: 20px;
  font-weight:lighter;
}

#gray {
  color: rgb(160, 160, 160);
}

#white {
  color: rgb(255, 255, 255);
}
.sloupec_home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 76vh; /* Nastavte výšku sloupce na výšku obrazovky (viewport height) */
  padding-left: 120px; /* Přidáme 50px odsazení zleva */
}

.sloupec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 96vh; /* Nastavte výšku sloupce na výšku obrazovky (viewport height) */
  padding-left: 120px; /* Přidáme 50px odsazení zleva */
}

.sloupec2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50vh; /* Nastavte výšku sloupce na výšku obrazovky (viewport height) */
  padding-left: 120px; /* Přidáme 50px odsazení zleva */
}
.sloupec3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start; /* Zarovnání textu nahoru */
  height: 62vh; /* Nastavte výšku sloupce na výšku obrazovky (viewport height) */
  padding-left: 120px; /* Přidáme 50px odsazení zleva */
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 36vh; /* Nastavte výšku sloupce na výšku obrazovky (viewport height) */
  padding-left: 120px; /* Přidáme 50px odsazení zleva */

}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 120px; /* Přidáme 50px odsazení zleva */

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #00000;
  font-family: helvetica;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.pics {
  border-radius: 15px;
}

a {
  color: lightgray; /* Světle šedý text */
  margin-right: 20px; /* Mezery mezi odkazy */

}

a:hover {
  color: black; /* Může být přidána i změna barvy textu po přejetí myší */
}

a:hover {
  color: #89CFF0; /* Baby blue text po přejetí myší */
}
